<% const baseMeta = { ttl: 'ページタイトル', desc: 'ディスクリプション',
keywords: 'キーワード' , url: 'http://localhost:8080/', pageName: 'top', path:
'.' }; %>

<!DOCTYPE html>
<html lang="ja">
  <%- include('./_inc/head', {baseMeta: baseMeta}); %>

  <body>
    <main role="main">
      <section class="pageSec">
        <div id="timer" class="timer"></div>
        <div id="content" class="content"></div>
        <div id="score"></div>
      </section>
    </main>
    <%- include('./_inc/footer', {baseMeta: baseMeta}); %>
  </body>
</html>
